#about-column {
    background-color: $color-primary-black;
}










#testimonial-column {
    color: $color-primary-black;
    background-color: $color-primary-black;
    border-bottom: solid .2rem;
    border-color: $color-primary;
    padding: 3rem;
    text-align: center;

    

    
  


}


.section-contact-info {
    background-color: none;
    // border: .1rem solid $color-primary;
    border-radius: 1rem;
    box-shadow: 20cqh;
    opacity: 6;

    box-shadow: 0 0.2rem 2rem rgba(gray, 9);

    &:hover {
        box-shadow: 0 2px 5px 2px #f5f3f3; 
    }

    animation: moveInLeft 2s ease-out ;
 
    
}


.section-contact-form {

    background-color: none;
    // border: .1rem solid $color-primary;
    border-radius: 1rem;
    // box-shadow: 20cqh;
    // opacity: 6;

    box-shadow: 0 0.2rem 2rem rgba(gray, 9);

    &:hover {
        box-shadow: 0 2px 5px 2px #f5f3f3; 
    }

    animation: moveInRight 2s ease-out ;

    @include for-tablet-portrait-up {
        @media (max-width: 768px) { 
        
         
      
          
        
        }
      }
 

}


#section-footer {
    height: 4rem;
}

