.carousel-item {
   
   
  
  
  
  
  
  &__img {
 
    // height: 130vh 
     height: 131.7vh;
    filter: brightness(65%);


    @include for-small-phone-only {
      @media (max-width: 468px) {
       
       }
    }
  
    @include for-phone-only {
      @media (max-width: 576px) {
        max-height: 39rem;
       }
    }
    @include for-tablet-portrait-up {
      @media (max-width: 768px) {

        
      }
    }
    @include for-tablet-landscape-up {
      @media (max-width: 992px) {
       
       }
    }
    
  }

    

}

.carousel-caption {

  



  @include for-small-phone-only {
    @media (max-width: 468px) {
     
     }
  }

  @include for-phone-only {
    @media (max-width: 576px) {
      
      
     }
  }
  @include for-tablet-portrait-up {
    @media (max-width: 768px) {
      position: absolute;
      bottom: -50rem;
     
      text-align: center;

      

      
    }
  }
  @include for-tablet-landscape-up {
    @media (max-width: 992px) {

      position: absolute;
      top: 15rem;
     
      text-align: center;
      
     
     }
  }
    
  &__header {
    font-family: "Oxygen" sans-serif;
    font-size: 10rem;
    position: relative;
    bottom: 53rem;
    color: $color-primary;

    @include for-phone-only {
      @media (max-width: 576px) {
         font-size: 3rem;
         position: relative;
         bottom: 5rem;

       
  
       }
    }

    @include for-tablet-portrait-up {
      @media (max-width: 768px) {
  
        
      }

    }

   

}


  &__description {
    font-family: "Lora" serif ;
    font-size: 3rem;
    position: relative;
    bottom: 53rem;

    @include for-phone-only {
      @media (max-width: 576px) {
        font-size: 1.3rem;
         position: relative;
         bottom: 5rem;

         
  
       }  
   }

   @include for-tablet-portrait-up {
    @media (max-width: 768px) {

      
    }

}


  }





}