.carousel-item {
   
  &__header {
    font-family: "Oxygen" sans-serif;
    font-size: 10rem;
    position: relative;
    bottom: 53rem;
    color: $color-primary;

    }

  &--description {
    font-family: "Lora" serif ;
    font-size: 3rem;
    position: relative;
    bottom: 53rem;
  }  

  &__img {
 
    // height: 130vh 
     height: 131.7vh;
    filter: brightness(40%);


    @include for-small-phone-only {
      @media (max-width: 468px) {
       
       }
    }
  
    @include for-phone-only {
      @media (max-width: 576px) {
        max-height: 39rem;
       }
    }
    @include for-tablet-portrait-up {
      @media (max-width: 768px) {

        
      }
    }
    @include for-tablet-landscape-up {
      @media (max-width: 992px) {
       
       }
    }
    
  }

    

}



